# Large archives
*.rar
*.zip
*.tar.gz
*.7z

# Windows
desktop.ini
Thumbs.db

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.egg-info/
dist/
build/

# Mobile app
mock_stream_mobile_app/

# Hidden folders
.sixth/
